:root {
    --navbar-color: #29517F;
    /* --navbar-bgcolor: #F8F9FA;
    --navbar-dropdown-bgcolor: #Eff1f4; */
    --navbar-bgcolor: #EFF1F4;
    --navbar-dropdown-bgcolor: #ffffff;
    --navbar-button-unactivate: #688CBE;
    --navbar-button-hover: #436D9E;
    /* --navbar-button-hover: #000000; */
}

.navbar {
    /* background-color: var(--navbar-bgcolor); */
    background-color: var(--navbar-bgcolor);
    color: var(--navbar-color);
    padding: 0px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

#navbarCollapse {
    justify-content: flex-end
}

button {
    border: none;
}

.nav-buttons p {
    margin: 0;
    color: var(--navbar-button-unactivate);
}

.nav-buttons {
    transform: scale(1.0);
    transition: 0.5s;
    height: 100%;
}

.nav-button-arrow {
    background-image: url(../assets/nav-bar/nav-button-arrow-unact.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 23px;
    height: 23px;
    width: 23px;
    aspect-ratio: 1/1;
    /* margin-top: 6px; */
    margin-bottom: 2px;
    margin-right: 2px;
}

.nav-link div p {
    font-size: 1.6em;
}

.nav-buttons:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}

.nav-buttons:hover .nav-button-arrow {
    background-image: url(../assets/nav-bar/nav-button-arrow-act.svg);
}

.nav-buttons:hover p {
    color: var(--navbar-button-hover);
}

.navbar-logo-svg {
    background-image: url(../assets/nav-bar/logo_sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 55px;
    width: 41px;
    /* margin-top: 6px; */
    margin-bottom: 2px;
    margin-right: 2px;
}

.contact {
    font-size: 1.6em;
    color: var(--navbar-bgcolor);
    background-color: #7DA9E4;
    padding: 5px 20px;
    border-radius: 12px;
}

.contact:hover {
    background-color: var(--navbar-button-hover);
    transition: 0.5s;
    box-shadow: 0px 0px 10.6353px rgba(0, 0, 0, 0.25);
}

#navbarNavAltMarkup {
    background-color: var(--navbar-dropdown-bgcolor);
    padding: 10px 0px;
}

.navbar-brand {
    margin-left: 30px;
}

.navbar-toggler {
    margin-right: 30px;
}

.nav-buttons {
    justify-content: flex-end;
    margin-right: 25px;
    margin-left: 0px;
    opacity: 0;
    transform-origin: right center;
}

.show .nav-buttons {
    opacity: 1;
}

.navbar-toggler,
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
    transform: scale(1);
    transition: 0.5s;
}

.user-toggle-icon {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.user-toggle-icon:hover .bar {
    background-color: var(--navbar-button-hover);
    transition: 0.5s;
}

.navbar-toggler:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.user-toggle-icon .bar {
    background-color: var(--navbar-button-unactivate);
    transition: 0.5s;
    height: 6px;
    width: 100%;
    border-radius: 50vh;
}

.show .nav-buttons {
    /* display: ; */
    animation-name: ani;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* z-index: -9; */
}

.show {
    animation-name: top-bot;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes top-bot {
    0% {
        transform-origin: top center;
        transform: scaleY(0);
        opacity: 1;
        /* background-color: aqua; */
    }
    100% {
        transform-origin: top center;
        transform: scaleY(1);
        opacity: 1;
        /* background-color: #29517F; */
    }
}

@keyframes ani {
    0% {
        transform: translateX(100%);
        opacity: 0;
        /* background-color: aqua; */
    }
    15% {
        transform: translateX(100%);
        opacity: 0;
        /* background-color: aqua; */
    }
    60% {
        transform: translateX(0%);
        opacity: 1;
        /* background-color: #29517F; */
    }
}


/* 
X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap  
*/


/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .nav-buttons {
        margin-left: 10px;
        margin-right: 0px;
        opacity: 1;
        transform-origin: center center;
    }
    #navbarNavAltMarkup {
        background-color: transparent;
    }
    .navbar-nav {
        margin-right: 10px;
    }
    .navbar-logo-svg {
        background-image: url(../assets/logo_lg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        height: 55px;
        width: 217px;
        /* margin-top: 6px; */
        margin-bottom: 2px;
        margin-right: 2px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}