/* Image position*/

.act-img-1,
.act-img-2,
.act-img-3,
.act-img-4,
.act-img-5,
.act-img-6 {
    background-size: center;
}

.act-img-1 {
    background-image: url("../assets/news-photo/2022-11/1.jpg");
    background-position: -40px 0px;
}

.act-img-2 {
    background-image: url("../assets/news-photo/2022-11/2.jpg");
    background-position: 0px 0px;
}

.act-img-3 {
    background-image: url("../assets/news-photo/2022-11/3.jpg");
    background-position: 0px 0px;
}

.act-img-4 {
    background-image: url("../assets/news-photo/2022-11/4.jpg");
    background-position: -50px 0px;
}

.act-img-5 {
    background-image: url("../assets/news-photo/2022-11/5.jpg");
    background-position: 0px 0px;
    background-size: contain;
}

.act-img-6 {
    background-position: center;
    background-position: 0px 0px;
    background-image: url("../assets/news-photo/2022-11/6.jpg");
}