/* Image position*/

.act-img-1,
.act-img-2,
.act-img-3,
.act-img-4,
.act-img-5,
.act-img-6 {
    background-size: center;
}

.act-img-1 {
    background-image: url("../assets/news-photo/2023-05/1.jpg");
    background-position: center center;
}

.act-img-2 {
    background-image: url("../assets/news-photo/2023-05/2.jpg");
    background-position: center center;
}

.act-img-3 {
    background-image: url("../assets/news-photo/2023-05/3.jpg");
    background-position: center center;
}

.act-img-4 {
    background-image: url("../assets/news-photo/2023-05/4.jpg");
    background-position: center center;
}

.act-img-5 {
    background-image: url("../assets/news-photo/2023-05/5.jpg");
    background-position: 0px 0px;
    /* background-size: contain; */
}

.act-img-6 {
    background-position: center;
    background-position: 0px 0px;
    background-image: url("../assets/news-photo/2023-05/6.jpg");
}