/* Image position*/

.act-img-1 {
    background-image: url("../assets/news-photo/2022-10/1.jpg");
    background-position: -40px 0px;
}

.act-img-2 {
    background-image: url("../assets/news-photo/2022-10/2.jpg");
    background-position: 0px 0px;
    background-size: cover;
}

.act-img-3 {
    background-image: url("../assets/news-photo/2022-10/3.jpg");
    background-position: -20px 0px;
}

.act-img-4 {
    background-image: url("../assets/news-photo/2022-10/4.jpg");
    background-position: 0px 0px;
}

.act-img-5 {
    background-image: url("../assets/news-photo/2022-10/5.jpg");
    background-position: -20px 0px;
}

.act-img-6 {
    background-position: center;
    background-image: url("../assets/news-photo/2022-10/6.jpg");
}