:root {
    --card-bg-color1: #FFFFFF;
    --card-bg-color2: #EEEEEE;
}

.bgcard {
    background: linear-gradient(180deg, var(--card-bg-color1) 36.46%, var(--card-bg-color2) 100%);
    font-family: 'Noto Sans TC';
    box-shadow: 0px 6px 16px 1px rgba(73, 73, 73, 0.25);
    border-radius: 32px;
    padding: 0;
    margin: 0 auto;
    width: 330px;
    /* experimenet */
    height: fit-content;
}

.img-overlay {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 66.67%, #000000 100%);
    width: 100%;
    height: 100%;
    z-index: 99;
    border-radius: 32px 32px 0px 0px;
}

.act-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 100%;
    object-fit: cover;
    padding: 0;
    background-position: 0px -160px;
    border-radius: 32px 32px 0px 0px;
}

.btn-view-details {
    padding: 8px 16px;
    padding-bottom: 9px;
    background-color: #3DAEFF;
    color: white;
    font-weight: 800;
    box-shadow: 0px 3.5px 10 0.511922px rgba(73, 73, 73, 0.25);
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    font-size: 18px;
    transform: scale(1);
    transition: 0.5s;
    margin-top: 15px;
    transform-origin: center center;
    box-sizing: border-box;
}

.btn-view-details:hover {
    /* margin-top: calc(15px); */
    background-color: transparent;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: #3DAEFF;
    /* font-size: 20px; */
    transform: scale(1.08);
    color: #3DAEFF;
    transition: 0.5s;
}

.btn-view-details-under {
    padding: 8px 16px;
    padding-bottom: 9px;
    background-color: #3DAEFF;
    color: white;
    font-weight: 800;
    box-shadow: 0px 3.5px 10 0.511922px rgba(73, 73, 73, 0.25);
    border-radius: 16px;
    font-size: 18px;
    transition: 0.5s;
    margin-top: 15px;
    opacity: 0;
}

.act-card-text {
    padding: 20;
    padding-top: 12;
}

.act-card-text h3 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20;
    color: rgba(0, 0, 0, 0.58);
}

.act-card-text p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #545454;
    font-size: 16px;
}

.news-section {
    background-color: #F0F8FF;
    padding-bottom: 30px;
}

.news-section .next-line {
    display: none;
}

.news-section .row .bgcard:nth-child(n+4) {
    display: none;
}

.bgcard {
    margin-bottom: 40px;
    color: var(--primary-color-600);
}

.news-section .row .bgcard:nth-child(3) {
    margin-bottom: 40px;
}

.news-section .row .bgcard:nth-child(3) {
    margin-bottom: 40px;
}

.news-section .row .bgcard:last-child {
    display: block;
}

.news-view-more {
    font-family: 'Noto Sans TC';
    font-size: 19;
    font-weight: 600;
}

.news-view-more a div {
    width: fit-content;
    margin-top: 10px;
    margin-right: 20px;
}

.news-view-more a,
.news-view-more a p {
    text-decoration: none;
    color: #7E7E7E;
    margin: 0;
    text-align: right;
    transform-origin: right center;
    transform: scale(1);
    transition: 0.5s;
}

.news-view-more a:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: var(--primary-color-600);
    text-shadow: 0px 0px 6.91139px rgb(255 255 255 / 34%);
}

.spacer-after-news {
    background-color: #F0F8FF;
}

.act-card-small-detail-text p:nth-child(2) {
    margin-top: 5;
}

.news-title {
    height: 48px;
    margin-left: 6px;
    width: fit-content;
    color: black;
    font-size: 20px;
    content: url(../assets/svg-title/news-title.svg);
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}


/* .news-section {
    mar-bottom: 20px;
} */


/* 
X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap  
*/


/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .news-section .row .bgcard:nth-child(n) {
        display: block;
    }
    /* .news-section .row .bgcard:nth-child(n+6) {
        display: none;
    } */
    .news-section .row .bgcard:nth-child(3) {
        margin-bottom: 40px;
    }
    .news-section .row .bgcard:nth-child(n+6) {
        display: none;
    }
    /* .news-section .row .bgcard:nth-child(4) {
        margin-bottom: 0px;
    } */
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .news-section .row .bgcard:nth-child(n) {
        display: block;
    }
}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .news-section .next-line {
        display: block;
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .news-section .next-line {
        display: block;
    }
    .news-section {
        padding-left: max(50px, 12vw);
        padding-right: max(50px, 12vw);
    }
}