:root {
    --timeline-tag-margin-bottom-px: 30px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(5, 9, 20, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: fit-content;
    height: fit-content;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
    /* font-size: 42px; */
    filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.3));
}

.overlay .closebtn {
    /* position: absolute; */
    z-index: 99;
    /* top: 50%; */
    /* right: 60px; */
    font-size: 40px;
    transition: 0.5s;
    padding: 0;
    font-family: "Noto Sans TC";
}

.timeline-div {
    /* background-color: #2D527D; */
    color: white;
    padding: 0 40px;
    /* height: 700px; */
    height: fit-content;
}

.timeline-div h1 {
    font-family: HanyiSentyPailouArch;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    font-size: min(calc((var(--vw, 1vw) * 12)), 50px);
    margin-left: 20px;
    margin-bottom: 35px;
}

.timeline-nav-div {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin-bottom: 40px;
}

.timeline-nav {
    justify-content: center;
    background-color: #FAEBD755;
    width: fit-content;
    padding: 10px 12px;
    border-radius: 9999px;
    border: solid 3px #ffffff33;
    margin: 0;
}

.timeline-div h2 {
    margin: 0 30px;
    margin-top: 2px;
    font-size: 2em;
}

.timeline-div .arrow {
    width: 45px;
    height: 45px;
    aspect-ratio: 1 / 1;
    transition: 0.8s;
}

.timeline-div .arrow-2right {
    transform: rotate(180deg);
}

.timeline-div .arrow:hover {
    transform: scale(1.08);
    transition: 0.8s;
}

.timeline-div .arrow-2right:hover {
    transform: rotate(180deg) scale(1.08);
    transition: 0.8s;
}

:root {
    --timeline-dash-width: 40px;
    --timeline-dash-height: 8px;
    --timeline-dot-border-width: 8px;
    --timeline-dot-size: 25px;
    --timeline-hands-color: #8197B1;
    --timeline-hands-margin-bottom: 100px;
    /* --timeline-scroll-100vw; */
}

.timeline-timeline {
    height: fit-content;
    /* padding: 0.1 0; */
    /* margin: 1; */
    /* padding: 30px 0px;
    margin: 0px; */
    /* padding-bottom: -40px; */
    margin-bottom: 20px;
    overflow: auto;
}

.thands:last-child {
    margin-bottom: 0px;
}

.tmain {
    background-color: var(--timeline-hands-color);
    width: var(--timeline-dash-height);
    height: fit-content;
    /* margin-top: var(--timeline-dash-width); */
    margin: 30px 0;
}

.tdash {
    background-color: var(--timeline-hands-color);
    width: var(--timeline-dash-width);
    height: var(--timeline-dash-height);
}

.tcircle {
    background-color: transparent;
    border: var(--timeline-dot-border-width) solid var(--timeline-hands-color);
    height: var(--timeline-dot-size);
    width: var(--timeline-dot-size);
    border-radius: 50%;
    top: calc(calc(var(--timeline-dot-size) / 2 - var(--timeline-dash-height) / 2) * -1);
    left: calc(var(--timeline-dash-width) - 3px);
}

.thands {
    height: var(--timeline-dash-height);
    margin-bottom: var(--timeline-hands-margin-bottom);
}

.tag {
    color: white;
    text-decoration: none;
    font-style: none;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0px 3.09859px 10.0704px rgba(0, 0, 0, 0.25), inset 0px 0px 24.7887px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(11.6197px);
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 32px;
    border-radius: 999999px;
}

.overlay .tag p {
    font-size: 25px;
}

.tag-div {
    left: calc(var(--timeline-dash-width) - 3px + var(--timeline-dot-size) + 20px);
    transform: translateY(calc(-50% + var(--timeline-dash-height) / 2));
    transform-origin: -50% 0%;
    transition: 0.5s;
}

.tag-div:hover {
    transform: scale(1.08) translateY(calc(-50% + var(--timeline-dash-height) / 2));
    transform-origin: -50% 0%;
    transition: 0.5s;
    filter: drop-shadow(0px 0px 5px rgba(240, 231, 150, 0.8));
}

.tag-div a {
    text-decoration: none;
    font-style: none;
}

.tag p {
    font-size: 22px;
    font-family: Gudea;
    font-style: italic;
    margin-bottom: 0px;
    letter-spacing: 0.1em;
}

.timeline-view-more a:hover {
    transition: 0.5s;
    transform: scale(1.08);
    transform-origin: 100% 100%;
}

.timeline-view-more a {
    text-decoration: none;
    transform-origin: 100% 100%;
    color: #f1f1f1;
    transition: 0.5s;
}

.timeline-view-more {
    color: #f1f1f1;
    font-family: "Noto Sans TC";
    font-size: 20px;
    text-align: right;
    margin: 0;
}

.overlay-year-div {
    margin-top: 3%;
    padding: 0 10%;
    z-index: 99;
    width: 100%;
}

.timeline-img {
    height: 340px;
    width: 100%;
    padding: 0;
    object-fit: cover;
    border-radius: 32px 32px 0px 0px;
    /* object-position: top; */
}

.timeline-bgcard {
    background: linear-gradient(180deg, var(--card-bg-color1) 36.46%, var(--card-bg-color2) 100%);
    font-family: 'Noto Sans TC';
    box-shadow: 0px 6px 16px 1px rgba(200, 200, 200, 0.20);
    border-radius: 32px;
    padding: 0;
    margin: 0 auto;
    width: min(calc((var(--vw, 1vw) * 90)));
    /* experimenet */
    height: fit-content;
    margin-right: calc(min(max(20%, 20px), calc((var(--vw, 1vw) * 10))) + 1px);
}

.timeline-bgcard:last-child {
    margin-right: 0px;
}

.timeline-bgcard .card-text {
    padding: 20;
    padding-top: 12;
    padding-bottom: 28px;
    text-align: center;
    /* text-align: start; */
}

.timeline-bgcard .card-text h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20;
    color: rgba(0, 0, 0, 0.58);
}

.timeline-bgcard .card-text p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #545454;
    font-size: 16px;
}

.timeline-scroll {
    width: min(max(80%, 400px), calc((var(--vw, 1vw) * 90)));
    /* width: calc((var(--vw, 1vw) * 100)); */
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
    padding: 0;
    padding: 0 min(max(20%, 20px), calc((var(--vw, 1vw) * 10)));
    padding-bottom: 20px;
    height: 100%;
    margin-bottom: 20px;
}

.timelin-bg-card-spacer {
    padding: 0;
    margin: 0;
    /* width: min(max(20%, 20px), calc((var(--vw, 1vw) * 10))); */
}

.timeline-timeline::-webkit-scrollbar,
.timeline-scroll::-webkit-scrollbar {
    background: transparent;
}

.timeline-timeline::-webkit-scrollbar *,
.timeline-scroll::-webkit-scrollbar * {
    /* border-radius: 999999px; */
    background-color: transparent;
}

.timeline-timeline::-webkit-scrollbar-track,
.timeline-scroll::-webkit-scrollbar-track {
    background-color: #00000000;
    /* border-radius: 999999px; */
}

.timeline-timeline::-webkit-scrollbar-track:hover,
.timeline-scroll::-webkit-scrollbar-track:hover {
    background-color: #00000000;
    /* border-radius: 999999px; */
}

.timeline-timeline::-webkit-scrollbar-thumb,
.timeline-scroll::-webkit-scrollbar-thumb {
    border-radius: 50vh;
    background-color: var(--scrollbar-thumb-hover);
    /* padding: 0px 10px; */
    border: 3px solid #ffffff;
    background-color: #fff;
    border-radius: 9999999px;
}

.timeline-timeline::-webkit-scrollbar-thumb:hover,
.timeline-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb);
    border: 2px solid #ccc;
    background-color: #ccc;
    border-radius: 9999999px;
    /* border: 4px solid #f4f4f4 */
}

.timeline-bg-div {
    background-color: #2D527D;
    background-image: url("/assets/timeline/hksar.png");
    background-repeat: no-repeat;
    /* background-size: cov; */
    background-size: auto 80%;
    background-position-x: -480px;
    background-position-y: 50%;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/* 
X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap  
*/


/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) {
    .timeline-img {
        height: calc((var(--vh, 1vw) * 43));
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
     :root {
        --timeline-dash-width: 8px;
        --timeline-dash-height: 25px;
        --timeline-dot-border-width: 8px;
        --timeline-dot-size: 25px;
        --timeline-hands-color: #8197B1;
        --timeline-hands-margin-bottom: 170px;
        /* --timeline-scroll-100vw; */
    }
    .timeline-div {
        height: calc(var(--vh, 1vh) * 100);
        display: flex;
        /* margin: ; */
        flex-direction: column;
    }
    .timeline-img {
        height: calc((var(--vh, 1vw) * 48));
    }
    .timeline-nav-div {
        justify-content: start;
        margin-left: 30px;
        margin-bottom: 40px;
    }
    .timeline-nav {
        background-color: #FAEBD755;
        width: fit-content;
        padding: 10px 12px;
        border-radius: 9999px;
        border: solid 3px #ffffff33;
    }
    .timeline-div .tag p {
        font-size: 25px;
        transition: 0.5s;
    }
    .timeline-view-more {
        justify-content: flex-end;
        align-self: flex-end;
        margin-bottom: 60px;
    }
    .timeline-timeline {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        height: 133px;
        width: 75%;
        overflow: auto;
        overflow-y: hidden;
        padding-bottom: 40px;
        padding-left: 40px;
        margin-left: auto;
        margin-bottom: 40px;
    }
    .thands:last-child {
        margin-right: 0px;
    }
    .tmain {
        background-color: var(--timeline-hands-color);
        width: fit-content;
        height: var(--timeline-dash-width);
        /* margin-top: var(--timeline-dash-width); */
        margin: 0px 70px;
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }
    .tdash {
        background-color: var(--timeline-hands-color);
        width: var(--timeline-dash-width);
        height: var(--timeline-dash-height);
        /* top: var(--timeline-dot-border-width); */
        /* bottom: 0px; */
        bottom: var(--timeline-dash-height);
    }
    .tcircle {
        background-color: transparent;
        border: var(--timeline-dot-border-width) solid var(--timeline-hands-color);
        height: var(--timeline-dot-size);
        width: var(--timeline-dot-size);
        border-radius: 50%;
        /* top: calc(calc(var(--timeline-dot-size) / 2 - var(--timeline-dash-height) / 2) * -1);
        left: calc(var(--timeline-dash-width) - 3px); */
        /* top: 0; */
        /* bottom: calc(var(--timeline-dash-height) - 3px); */
        /* top: calc(var(--timeline-dot-border-width) * -1); */
        top: calc(calc(var(--timeline-dash-height) + var(--timeline-dot-size)) * -1 + 3px);
        left: calc(calc(var(--timeline-dot-size) / 2 - var(--timeline-dash-width) / 2) * -1);
    }
    .thands {
        width: var(--timeline-dash-width);
        /* width: ; */
        margin: 0px;
        margin-right: var(--timeline-hands-margin-bottom);
    }
    .tag-div {
        /* left: calc(var(--timeline-dash-width) - 3px + var(--timeline-dot-size) + 20px); */
        top: calc(calc(var(--timeline-dash-height) + var(--timeline-dot-size)) * -1 - 60px);
        left: calc(50% + calc(var(--timeline-dash-width) / 2));
        transform: translate(-50%, 0);
        /* transform-origin: bottom center; */
        transform-origin: bottom center;
        transition: 0.5s;
    }
    .tag-div:hover {
        transform-origin: bottom center;
        transform: scale(1.08) translate(-50%, 0);
        transition: 0.5s;
    }
    .timeline-bg-div {
        /* background-size: cov; */
        background-size: auto 80%;
        /* background-position-x: calc(var(--vw, 1vw)* 70 * -1); */
        background-position-x: calc(30% - 480px);
        background-position-y: 50%;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .timeline-img {
        height: calc((var(--vh, 1vw) * 55));
    }
}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .timeline-scroll {
        /* width: min(max(80%, 400px), calc((var(--vw, 1vw) * 90))); */
        /* width: 710px; */
        width: 946px;
        padding: 0px 118px;
    }
    .timeline-bgcard {
        margin-right: 120px;
    }
    .timeline-div {
        width: 1200px;
        padding: 0px;
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .timeline-div {
        width: 1400px;
    }
}